.usersearchcard img{
    width: 50px;
}

.usersearchcard{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    cursor: pointer;
}

.usersearchcard:hover{
    background-color:#e7e7e7 ;
}

.usersearchcard span{
    margin-left: 10px;
}